{% extends 'base.html.twig' %}

{% block title %}Enregistrement stagiare(s){% endblock %}

{% block body %}
<h1>Enregistrez les informations du stagiaire</h1>

{{ form_start(form) }}

        {{ form_label(form.name, 'Nom') }}

        {{ form_row(form.phone) }}

        {{ form_row(form.birthday, {'attr': {'class': 'date'}}) }}


{#<p>#}
{#    Adresses :#}
{#</p>#}
{#<ul id="addresses-fields-list"#}
{#    data-prototype="{{ form_widget(formUser.addresses.vars.prototype)|e }}"#}
{#    data-widget-tags="{{ '<li></li>'|e }}"#}
{#    data-widget-counter="{{ formUser.addresses|length }}">#}
{#    {% for address in formUser.addresses %}#}
{#        <li>#}
{#            {{ form_errors(address) }}#}
{#            {{ form_widget(address) }}#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}

<button type="button"
        class="add-another-collection-widget"
        data-list-selector="#addresses-fields-list">Ajouter le stagiaire</button>

{#
    tous les champs n'ayant pas été affiché auparavant seront automatiquement
    affichés à la fin du formulaire
    ! : si un seul élément a été affiché (label, ou widget ou error),
    le champ est considéré comme affiché, donc les deux autres éléments n'apparaitront pas
#}
    {{ form_end(form) }}